# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# CPython
*.pyc

# Distribution / packaging
.Python
build/
dist/
eggs/
*.egg-info/
*.egg
wheels/
pip-wheel-metadata/

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# pytest / testing
.pytest_cache/
.tox/
.coverage
htmlcov/
*.cover

# mypy / type checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db
.code-workspace